@charset "UTF-8";
/*
ordre d'import : 
    1. Utils :
        1. Variables.
        2. Fonctions.
        3. Mixins.
        4. Placeholders.
    2. Feuilles de style de tiers (vendors) (si vous en avez).
    3. Base.
    4. Composants.
    5. Layout.
    6. Pages.
*/
/*
$font : (
    titre : 'shrikhand',
    texte : 'roboto'
);
*/
/*généraliser les délais pour menu loader*/
/*min max width ?*/
@font-face {
  /*cible pas le bon dossier*/
  font-family: 'Roboto', sans-serif;
  src: url("sassontRoboto-Thin.ttf");
  /*nécessaire ? lien dans head html*/ }
@font-face {
  font-family: 'Shrikhand', cursive;
  src: url("sassontShrikhand-Regular.ttf"); }
* {
  /*border: 1px solid black;*/
  font-family: 'Shrikhand' 'arial black';
  /*fonctionne pas*/ }

header, section, footer {
  /*border: steelblue 1px solid;*/ }

.ligne {
  /*border : 1px solid green;*/
  display: flex;
  align-items: center;
  flex-direction: row; }

.colonne {
  /*border : 1px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: center; }

i {
  /*border : 1px solid;*/
  padding: 0 10px; }

h1 {
  margin: 0;
  font-size: 1.5em; }

h2 {
  margin: 0;
  font-size: 1.5em; }

.sousMenu h2 {
  text-transform: uppercase;
  /*box-shadow: 0 30px 0 -12px map-get($color, tertiary);*/
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 1.1em;
  font-weight: normal; }
  .sousMenu h2::after {
    /*outline: 5px solid;*/
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45px;
    border-bottom: #99E2D0 solid 3px; }

h3 {
  margin: 0;
  font-size: 1.1em; }

a {
  /*border: 1px solid springgreen;*/
  color: black;
  text-decoration: none; }

.stretch-link::after {
  content: "";
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

.icon {
  position: relative; }
  .icon:nth-child(3), .icon:nth-child(5), .icon:nth-child(7), .icon:nth-child(9) {
    align-self: flex-end; }
  .icon > svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 50px;
    bottom: 40px;
    fill: black;
    opacity: 1; }
    @media screen and (min-width: 992px) {
      .icon > svg {
        right: 30px;
        bottom: 35px; } }
    .icon > svg.--menu {
      bottom: -10px;
      right: 30px; }
    .icon > svg:nth-child(2) {
      position: absolute;
      right: 52px;
      bottom: 42px;
      width: 26px;
      height: 26px;
      opacity: 0;
      transition: 500ms; }
      @media screen and (min-width: 992px) {
        .icon > svg:nth-child(2) {
          right: 32px;
          bottom: 37px; } }
      .icon > svg:nth-child(2).--menu {
        bottom: -8px;
        right: 32px; }
      .icon > svg:nth-child(2):active > path {
        fill: #FF79DA;
        cursor: url(images\cursor.png), grabbing; }
      .icon > svg:nth-child(2):hover {
        opacity: 1;
        cursor: url(images\cursor.png), grab;
        /*why not ?*/ }

.bouton {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  color: white;
  background: linear-gradient(-5deg, #9356DC, 60%, #FF79DA);
  border-radius: 100px;
  padding: 10px 15px;
  margin: 10px;
  box-shadow: 0px 5px 10px 2px #8c8c8c;
  transition: 500ms;
  transition: 300ms; }
  .bouton:hover {
    box-shadow: 0px 5px 10px 2px #595959; }
  .bouton:active {
    /*comment virer la transition ? pas le temps de voir sinon*/
    box-shadow: 0px 5px 10px 2px #FF79DA; }
  .bouton:active {
    box-shadow: 0px 5px 10px 2px #6023a9; }
  .bouton::after {
    content: "";
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    border-radius: 100px;
    transition: 1000ms;
    background: linear-gradient(-8deg, #ff7edb, 50%, #965add); }
  .bouton:hover {
    transform: scale(1.01);
    /*pourquoi flou*/
    cursor: pointer; }
    .bouton:hover::after {
      opacity: 1; }

/*loader menu*/
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
/*anim text-overflow ellipsis*/
@keyframes shrink {
  from {
    width: 80%; }
  to {
    width: 48%; } }
/*généraliser les délais pour menu loader*/
/* A FAIRE
/*modifier adresse git dans fichier json*/
/*régler taille des section, header, footer autrement qu'avec padding*/
/*A trier ensuite*/
header, footer {
  /*border : 1px solid darken(map-get($color, background), 15%);*/ }

section {
  /*border : 1px solid purple;*/ }

/*media queries*/
/*général*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px; }
  @media screen and (min-width: 992px) {
    body {
      display: grid;
      grid-template-rows: 80px 330px 300px 20px;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      align-items: start;
      justify-items: center;
      grid-gap: 20px; } }

header {
  padding: 20px 0;
  grid-column: 1 / span 2;
  grid-row: 1; }
  header > .ligne {
    /*pour menu*/
    justify-content: center;
    /*padding: 0 54px;*/
    width: 350px;
    position: relative; }
    header > .ligne:hover > a p {
      transform: scale(1.2) rotate(180deg) translateX(20px); }
    header > .ligne:hover > a svg:nth-child(3) {
      opacity: 1; }
    header > .ligne:active > a svg:nth-child(3) {
      transform: scale(1.3); }
    header > .ligne:active > a svg:nth-child(2) {
      transform: scale(1.3); }
    header > .ligne > a svg {
      height: 120%;
      width: 120%;
      position: relative;
      left: -3%;
      z-index: -1; }
      header > .ligne > a svg:nth-child(3) {
        position: absolute;
        top: 0;
        left: 9%;
        height: 91%;
        width: 91%;
        opacity: 0; }
    header > .ligne > a p {
      transform: rotate(180deg);
      font-size: 2em;
      position: absolute;
      top: 0px;
      left: 10px;
      transition: 400ms;
      margin: 0; }

.explorer {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  background-color: #F2F2F2; }
  .explorer > .ligne {
    justify-content: center;
    width: 100%;
    background-color: #d9d9d9;
    box-shadow: inset 0px 10px 10px -10px #737373; }
  .explorer > .colonne {
    padding: 45px; }
    .explorer > .colonne > h1 {
      /*border : 1px solid;*/
      text-align: center; }
    .explorer > .colonne > p {
      /*border : 1px solid blue;*/
      text-align: center; }

.fonctionnement {
  grid-column: 2;
  grid-row: 2;
  padding: 50px 10px;
  width: 100%; }
  @media screen and (min-width: 992px) {
    .fonctionnement {
      padding: 0; } }
  .fonctionnement > h2 {
    align-self: flex-start; }
  .fonctionnement > ol {
    list-style: none;
    width: 80%; }
    @media screen and (min-width: 992px) {
      .fonctionnement > ol {
        width: 100%; } }
    .fonctionnement > ol > li {
      /*border: 1px solid orange;*/
      background-color: #F2F2F2;
      border-radius: 20px;
      padding: 20px;
      margin: 20px;
      justify-content: center;
      box-shadow: 0px 5px 10px 2px #8c8c8c;
      transition: 500ms;
      position: relative;
      cursor: pointer; }
      .fonctionnement > ol > li:hover {
        box-shadow: 0px 5px 10px 2px #595959; }
      .fonctionnement > ol > li:active {
        /*comment virer la transition ? pas le temps de voir sinon*/
        box-shadow: 0px 5px 10px 2px #FF79DA; }
      @media screen and (min-width: 992px) {
        .fonctionnement > ol > li {
          margin: 30px 50px; } }
      .fonctionnement > ol > li:hover > a span {
        background-color: #FF79DA; }
      .fonctionnement > ol > li:nth-child(3) a i {
        color: #9356DC; }
      .fonctionnement > ol > li > a span {
        border-radius: 50%;
        background-color: #9356DC;
        color: white;
        padding: 3px 8px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -12px;
        transition: 700ms; }
      .fonctionnement > ol > li > a i {
        color: #737373; }

.restaurant {
  grid-row: 3;
  grid-column: 1 / span 2;
  background: #F2F2F2;
  padding: 40px 20px;
  width: 100%; }
  @media screen and (min-width: 992px) {
    .restaurant {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 50px 0 20px 0;
      position: relative; } }
  .restaurant > h2 {
    align-self: flex-start; }
    @media screen and (min-width: 992px) {
      .restaurant > h2 {
        font-size: 2em;
        position: absolute;
        top: 10px;
        left: 10px; } }
  .restaurant > .box {
    position: relative;
    border-radius: 20px;
    margin: 20px 0;
    background-color: white;
    width: 95%;
    box-shadow: 0px 5px 10px 2px #8c8c8c;
    transition: 500ms; }
    .restaurant > .box:hover {
      box-shadow: 0px 5px 10px 2px #595959; }
    .restaurant > .box:active {
      /*comment virer la transition ? pas le temps de voir sinon*/
      box-shadow: 0px 5px 10px 2px #FF79DA; }
    @media screen and (min-width: 992px) {
      .restaurant > .box {
        width: 30%;
        margin: 10px; } }
    .restaurant > .box > img {
      object-fit: cover;
      max-height: 200px;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px; }
      @media screen and (min-width: 992px) {
        .restaurant > .box > img {
          max-height: 130px; } }
    .restaurant > .box > span {
      /*border : 1px solid red;*/
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #99E2D0;
      padding: 5px 10px;
      border-radius: 2px;
      color: #2c9c81;
      font-weight: bold; }
    .restaurant > .box > .ligne {
      padding: 10px 15px;
      /*&::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          opacity: 1;
          color: map-get($color, primary);
      }
      &:hover::after { */
      /*fonctionne pas il faut mettre l'icone coeur plein dessous*/
        /*opacity: 1;
        outline: 5px solid;
    }
}*/ }
      .restaurant > .box > .ligne > .colonne a {
        align-items: flex-start; }
        .restaurant > .box > .ligne > .colonne a > p {
          /*border : 1px solid blue;*/
          margin: 5px 0; }

footer {
  grid-row: 4;
  grid-column: 1 / span 2;
  background-color: #333333;
  padding: 0 0 25px 20px;
  width: 100%; }
  @media screen and (min-width: 992px) {
    footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 25px;
      width: 100%; } }
  footer.footerMenu {
    width: calc(100% - 20px);
    position: relative;
    top: -50px;
    margin-bottom: -50px; }
  footer > svg {
    height: 50px; }
  footer > ul {
    /*border: palevioletred 1px solid;*/ }
    @media screen and (min-width: 992px) {
      footer > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%; } }
    footer > ul > li {
      margin-bottom: 5px; }
      @media screen and (min-width: 992px) {
        footer > ul > li {
          margin: 0 15px; } }
    footer > ul > li:nth-child(2) a i {
      /*border: 1px solid blueviolet;*/
      font-size: 0.9em; }
    footer > ul > li a {
      color: white;
      transition: 300ms; }
      @media screen and (min-width: 992px) {
        footer > ul > li a {
          display: flex;
          flex-direction: row;
          align-items: center; } }
      footer > ul > li a:hover {
        color: #9356DC;
        font-style: italic; }
      footer > ul > li a:active {
        color: #FF79DA;
        font-style: italic; }
    footer > ul > li a i {
      /*border: yellow 1px solid;*/
      padding: 0;
      width: 15px;
      margin-right: 10px; }

/*pour menu*/
#imgMenu {
  width: 100%;
  object-fit: cover;
  max-height: 300px; }

.menu {
  position: relative;
  top: -50px;
  width: calc(100% - 20px);
  padding: 30px 10px;
  background-color: #F2F2F2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; }
  .menu > .ligne {
    width: 95%;
    justify-content: space-between;
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1; }
    @media screen and (min-width: 992px) {
      .menu > .ligne {
        justify-content: space-around; } }
  .menu > .sousMenu:nth-child(2) {
    grid-column: 1;
    grid-row: 2; }
  .menu > .sousMenu:nth-child(3) {
    grid-column: 2;
    grid-row: 2; }
  .menu > .sousMenu:nth-child(4) {
    grid-column: 3;
    grid-row: 2; }
  .menu > .bouton:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
    margin: 20px 0 50px 0; }
  @media screen and (min-width: 992px) {
    .menu {
      display: grid;
      grid-template-rows: 50px 1fr 100px;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: start;
      grid-gap: 20px; } }

.sousMenu {
  /*border : 1px solid blue;*/
  width: 100%;
    /*
    > ul li {                   

    }
    > ul li a {                 border: 1px solid blue;
        width: 100%;
        > .ligne {            border: 1px solid palevioletred;
            position: relative;
            transform: translateX(50px);
            background-color: map-get($color, tertiary);
        }
        > .colonne {           border : 2px solid orange;

        }

    }
    > ul li a > .colonne {        
        align-items: flex-start;
        background-color: map-get($color, clair);
        border-radius: 15px;
        padding: 8px 25px 10px 15px;
        margin-bottom: 15px;
        @include shadow;
        width: 100%;
        margin-right: -50px;
        > .ligne {                border : 1px solid purple;
            width: 100%;
            justify-content: space-between;
            > p {
                margin: 0;
            }
        }
    }
    */ }
  .sousMenu > ul li {
    width: 95%;
    background-color: white;
    border-radius: 15px;
    padding: 10px 0 10px 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px 2px #8c8c8c;
    transition: 500ms;
    position: relative;
    /* pour le stretch-link*/
    justify-content: space-between;
    overflow: hidden;
    animation: fadein 0s forwards;
    /*faire un @each*/ }
    .sousMenu > ul li:hover {
      box-shadow: 0px 5px 10px 2px #595959; }
    .sousMenu > ul li:active {
      /*comment virer la transition ? pas le temps de voir sinon*/
      box-shadow: 0px 5px 10px 2px #FF79DA; }
    .sousMenu > ul li:nth-child(2) {
      animation: fadein 0s both; }
    .sousMenu > ul li:nth-child(3) {
      /*a vérifier*/
      animation: fadein 0s both; }
    .sousMenu > ul li:nth-child(4) {
      /*a vérifier*/
      animation: fadein 0s both; }
    .sousMenu > ul li:hover > .ligne {
      /*p*/
      transform: translateX(-150%); }
    .sousMenu > ul li:hover > .ligne:nth-child(2) .colonne {
      /*...*/
      opacity: 1; }
    .sousMenu > ul li:hover > .ligne:nth-child(3) {
      transform: translateX(0); }
    .sousMenu > ul li:hover > .ligne:nth-child(3) > i {
      transform: rotate(0); }
    .sousMenu > ul li:hover > .colonne {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      animation: shrink 1200ms forwards; }
      .sousMenu > ul li:hover > .colonne h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%; }
      .sousMenu > ul li:hover > .colonne p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%; }
    .sousMenu > ul li > .colonne {
      align-items: flex-start;
      position: relative;
      /*pour placer animation par rapport à ici*/
      z-index: -1;
      width: 80%;
      transition: 0 1000ms; }
      .sousMenu > ul li > .colonne > p {
        margin: 0; }
    .sousMenu > ul li > .ligne {
      /*transform: translateX(150%);*/
      /*position: absolute;            
      right: 0px;  */
      transition: 700ms 150ms;
      transition-timing-function: cubic-bezier(0.53, 0, 0.61, 1.05);
      width: 20%;
      position: relative; }
      .sousMenu > ul li > .ligne > .colonne {
        display: none;
        background-color: white;
        opacity: 1;
        /*à régler pour tous les li*/
        position: absolute;
        right: 70%;
        padding-right: 30%;
        width: 20%;
        transition: 150ms 650ms; }
        @media screen and (min-width: 550px) and (max-width: 991px) {
          .sousMenu > ul li > .ligne > .colonne {
            border: #09d309 1px solid; } }
      .sousMenu > ul li > .ligne > p {
        padding: 20px 0px 0 10px;
        margin: 0;
        background-color: white;
        position: relative;
        right: 0px;
        width: 100%;
        text-align: left; }
    .sousMenu > ul li > .ligne:nth-child(3) {
      position: absolute;
      right: 0;
      width: 30%;
      height: 62px;
      margin: -10px 0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: #99E2D0;
      justify-content: center;
      transform: translateX(110%);
      transition: 1400ms; }
      .sousMenu > ul li > .ligne:nth-child(3) > i {
        /*border: 1px solid;*/
        color: white;
        margin: 0;
        transform: rotate(3turn);
        transition: 1600ms; }

/*test svg*/
#svg {
  /*div*/
  border: 1px seagreen solid;
  background-color: salmon;
  position: relative; }
  #svg:hover > svg {
    transform: scale(1); }

svg {
  /*fill: red;*/
  /*stroke: black;*/
  stroke-width: 5px;
  width: 100px;
  height: 100px;
  transform-origin: bottom;
  /*transform: scale(0);*/
  transition: 500ms;
  overflow: hidden;
  /*n'existe pas pour svg*/ }

#svg svg:nth-child(2) {
  border: 1px solid blue;
  position: absolute;
  top: 0;
  left: 10px; }

/*fin test svg*/
/*test fonction*/
.testFonction p {
  border: black 1px solid;
  color: red;
  width: 100px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*# sourceMappingURL=style.css.map */
