/.sass-cache
/.vscode
/Maquettes Ohmyfood
Brief créatif - Ohmyfood!.pdf
/assets/css
/node_modules
/outils soutenance/cursor.avi
/outils soutenance/degrade.avi
/outils soutenance/choixMenu.avi
/outils soutenance/loaderMenu.avi
/outils soutenance/spinnercustom.avi