@mixin shadow {
    box-shadow: 0px 5px 10px 2px darken(map-get($color, background), 40%);
    transition: 500ms;
    &:hover {
        box-shadow: 0px 5px 10px 2px darken(map-get($color, background), 60%);
    }
    &:active { /*comment virer la transition ? pas le temps de voir sinon*/
        box-shadow: 0px 5px 10px 2px map-get($color, secondary);
    }
}

@mixin mobileOnly {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
@mixin tabletOnly {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}
@mixin desktopOnly {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}


/*abandonné*/
// $anim_name: fadein;
// $anim_default-timing: 1.5s;
// $anim_default-delay: 0s;
// $anim_default-mode: both;

// @mixin animated($name: $anim_name, $timing: $anim_default-timing, $delay : $anim_default-delay, $mode: $anim_default-mode) {
//         animation: $name $timing $delay $mode;
// }

// @mixin animated_sousMenu($delay: $anim_default-delay, $mode: $anim_default-mode) {
//     @include animated(fadein, 0.5s, $delay, $mode);
// }

